@import url('https://fonts.googleapis.com/css2?family=Asul&family=Bungee+Outline&family=Fascinate&family=Fascinate+Inline&family=Fjord+One&family=Londrina+Shadow&display=swap');
/* 
font-family: 'Bungee Outline', cursive;
font-family: 'Fascinate', cursive;
font-family: 'Fascinate Inline', cursive;
font-family: 'Londrina Shadow', cursive; 
font-family: 'Asul', sans-serif;
font-family: 'Fjord One', serif; */

body{
    margin: 0;
    font-family:'Asul', sans-serif;
}

h1{
    font-family:'Bungee Outline', cursive;
    text-align: center;
    font-size: 3rem;
}



#hero{
    background-color: pink;
    width: 60%;
    margin: auto;
    display: flex;
}

#container_poster{
    
    padding-right: 40%;
    padding-bottom: 30%;
    margin: 6% 0 6% 6%;
    background-color: black;
}

#content{
    margin: 0 6% 6%;
}

h3{
    text-align: center;
    font-size: 2rem;
}

#trailer {
    width: 50%;
    height: 40px;
    margin-left: 25%;
    font-family:'Asul', sans-serif ;
}

#btnWrap{
    display: flex;
    justify-content: center;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  #newarrow{
    background-color: white;
    border-radius: 60%;
    padding: 15px;
    margin: 17px 15px;
  }