@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asul&family=Bungee+Outline&family=Fascinate&family=Fascinate+Inline&family=Fjord+One&family=Londrina+Shadow&display=swap');
/* 
font-family: 'Bungee Outline', cursive;
font-family: 'Fascinate', cursive;
font-family: 'Fascinate Inline', cursive;
font-family: 'Londrina Shadow', cursive; 
font-family: 'Asul', sans-serif;
font-family: 'Fjord One', serif; */
/* font-family: 'Roboto', sans-serif; */

body{
    margin: 0;
    font-family:'Roboto', sans-serif;
    background: url(https://besthqwallpapers.com/Uploads/6-11-2017/27291/thumb2-filmoscope-4k-retro-smoke-cinema.jpg) center/cover no-repeat;
    background-attachment: fixed;
}

h1{
    font-family:'Bungee Outline', cursive;
    text-align: center;
    font-size: 4rem;
    margin: 2%;
    color: black;
}



#hero{
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

img {
    width: 300px;
    margin: 15% 0 0 10%;

}

#content{
    margin: 0 6% 6%;
}

h3{
    text-align: center;
    font-size: 2rem;
}

.btn {
    width: 50%;
    height: 40px;
    margin-left: 33%;
    margin-top: 5%;
    font-family: 'Roboto', sans-serif;
    background-color: antiquewhite;
    border-radius: 5px;
}

.btn:hover{
    background: linear-gradient(to right, #E0B6A4, #66899A);
}

#btnWrap{
    display: flex;
    justify-content: center;
}




  div{
      margin-left: 4%;}
  
      #movieTitleOne, #movieTitleTwo, #movieTitleThree , #movieTitleFour {
      font-size: 1rem;
      font-family: 'Courier New', Courier, monospace;
      width: 100%;
        margin-left: 9%
  }

  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 700px;
    height: 400px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 1%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }